GEMINI_API_KEY=yAIzaSyC69p4DMkqEaGLnOyyMGRihLfBjcZLfQuw

# Google OAuth (get from https://console.cloud.google.com)
VITE_GOOGLE_CLIENT_ID=184040644580-b5p5942klr8d7mpr3jjrscl8ubfst7b1.apps.googleusercontent.com